---
import React from "./icons/React.astro"
import Firebase from "./icons/Firebase.astro"
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro"
import JavaScript from "./icons/JavaScript.astro"

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-[#0000ff] text-white text-center",
    icon: React,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#a8b000] text-white",
    icon: Firebase,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#ff8000] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0000ff] text-white",
    icon: CSS,
  },
  JAVASCRIP: {
    name: "JavaScript",
    class: "bg-[#a8b000] text-white",
    icon: JavaScript,
  },
}

const PROJECTS = [
  {
    title: "Kámien Costa Rica",
    description:
      "Soy parte de un proyecto independiente con Kámien Costa Rica, una tienda virtual con artículos originales. Autenticidad garantizada e importaciones directamente desde USA. Estoy dando mantenimiento, rediseño y desarrollo de nuevas funciones del sitio web para la compra de productos a través de Whatsapp.",
    link: "https://kamienimportaciones.netlify.app/",
    github: "",
    image: "/projects/Kámien.webp",
    tags: [TAGS.REACT, TAGS.FIREBASE, TAGS.JAVASCRIP, TAGS.HTML, TAGS.CSS],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="mb-8 sm:mb-12 md:mb-16">
      <h3 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>

      <ul class="flex flex-wrap gap-x-2 sm:gap-x-4 md:gap-x-6 flex-row mb-2">
        {tags.map((tag) => (
          <li class="mb-2">
            <span
              class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`} style={{ minWidth: '120px' }}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video mt-8 w-full"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}

